<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">
					Base
				</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse in">
				<div class="panel-body">
					<form>
						Export des tables BdEDI pour tous les environnements 
						<input type="button" value="Do it !" onclick="exportBdEDIAjax(&#39;DEV&#39;,&#39;edt37etu1&#39;,&#39;editd00&#39;,&#39;h!su-ip0&#39;)">						<div id="resultExportBdEDI" class="resultExport"></div>
					</form>
				</div>
			</div>
		</div>