<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title" >
			SQL version
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="switch();" role="button" data-toggle="collapse" href="#edtSql" aria-expanded="false" aria-controls="edtSql">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="edtSql" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center col-xs-1 displayCol"><div class="displayCell">Serveur</div></th>
							<th *ngIf="edtEnv['EdtInfosData']?.error; else packageHead" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</th>
							<ng-template #packageHead>
								<th *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<div class="displayCell">{{ env.environment }}</div>
								</th>
							</ng-template>
						</tr>
					</thead>
					<tbody >
						<tr>
							<td class="text-center col-xs-1 displayCol">
								<div class="displayCell">Host</div>
							</td>
							<td *ngIf="edtEnv['EdtInfosData']?.error; else host" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</td>
							<ng-template #host>
								<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<ng-container *ngIf="edtSqlData[env.environment]?.error; else hostData">
										<div *ngIf="LoadingService.loading[env.environment]; else hostError" class="displayCell">
											Loading....
										</div>
										<ng-template #hostError>
											<div *ngIf="env.environment == edtSqlData[env.environment]?.environment" class="displayCell">{{ edtSqlData[env.environment]?.error }}</div>
										</ng-template>
									</ng-container>
									<ng-template #hostData>
										<div *ngIf="LoadingService.loading[env.environment]; else showHost" class="displayCell">
											Loading....
										</div>
										<ng-template #showHost>
											<div class="displayCell">
												{{edtSqlData[env.environment]?.server}}
											</div>
										</ng-template>
									</ng-template>
								</td>
							</ng-template>
						</tr>

						<tr>
							<td class="text-center col-xs-1 displayCol">
								<div class="displayCell">Script</div>
							</td>
							<td *ngIf="edtEnv['EdtInfosData']?.error; else disk" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</td>
							<ng-template #disk>
								<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<ng-container *ngIf="edtSqlData[env.environment]?.error; else scriptData">
										<div *ngIf="LoadingService.loading[env.environment]; else scriptError" class="displayCell">
											Loading....
										</div>
										<ng-template #scriptError>
											<div *ngIf="env.environment == edtSqlData[env.environment]?.environment" class="displayCell">{{ edtSqlData[env.environment]?.error }}</div>
										</ng-template>
									</ng-container>
									<ng-template #scriptData>
										<div *ngIf="LoadingService.loading[env.environment]; else script" class="displayCell">
											Loading....
										</div>
										<ng-template #script>
											<ng-container *ngFor="let script of edtSqlData[env.environment]?.listeScriptsSQL">
												<div data-toggle="tooltip" data-placement="bottom" title="{{script.nom}}&#10;Lancé le {{script.debut}} terminé le {{script.fin}}" class="displayCell">
													{{script.nom}}
												</div>
											</ng-container>
										</ng-template>
									</ng-template>
								</td>
							</ng-template>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
