<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			Espace disque
			<div class="pull-right">
				<a (click)="refresh()">
							<span class="glyphicon glyphicon-refresh black"></span>
						</a>
				<a (click)="load(); switch();" role="button" data-toggle="collapse" href="#edtDisk" aria-expanded="false" aria-controls="edtBdoc">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
					
				</a>
			</div>
		</h4>
	</div>
	<div id="edtDisk" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-xs-1 displayCol"><div class="displayCell">Serveur</div></th>
							<th *ngIf="edtDiskData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else diskError" class="displayCell">
									Loading....
								</div>
								<ng-template #diskError>
										<div class="displayCell">{{ edtDiskData?.error }}</div>
								</ng-template>
							</th>
							<th *ngFor="let env of edtDiskData?.sshRequestsByEnvironment" class="text-center col-xs-1">
								<div *ngIf="LoadingService.loading; else diskHead" class="displayCell">
									Loading....
								</div>
								<ng-template #diskHead>
									<div>{{ env.nameEnvironment }}</div>
								</ng-template>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center col-xs-1 displayCol"><div class="displayCell">Data Use</div></td>
							<td *ngIf="edtDiskData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else diskError" class="displayCell">
									Loading....
								</div>
								<ng-template #diskError>
										<div class="displayCell">{{ edtDiskData?.error }}</div>
								</ng-template>
							</td>
							<td *ngFor="let env of edtDiskData?.sshRequestsByEnvironment" class="text-center col-xs-1 displayCol">
								<div *ngFor="let request of env.environmentRequests">
									<div *ngIf="request.name == 'getEspaceDisqueDataInfos'">
										<div *ngIf="LoadingService.loading; else dataBody" class="displayCell">
											Loading....
										</div>
										<ng-template #dataBody>
											<div data-toggle="tooltip" data-placement="bottom" class="displayCell" [ngClass]="{'bg-danger' : (request.response | split:';':2) >= 80, 'bg-warning' : (request.response | split:';':2) >= 60 && (request.response | split:';':2) < 80}"
											 title="Reste {{ request.response | split:';':1 }}/{{ request.response | split:';':0 }}">
												{{ request.response | split:";":2 }}%
											</div>
										</ng-template>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td class="text-center col-xs-1 displayCol"><div class="displayCell">Home Use</div></td>
							<td *ngIf="edtDiskData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else diskError" class="displayCell">
									Loading....
								</div>
								<ng-template #diskError>
										<div class="displayCell">{{ edtDiskData?.error }}</div>
								</ng-template>
							</td>
							<td *ngFor="let env of edtDiskData?.sshRequestsByEnvironment" class="text-center col-xs-1 displayCol">
								<div *ngFor="let request of env.environmentRequests">
									<div *ngIf="request.name == 'getEspaceDisqueHomeInfos'">
										<div *ngIf="LoadingService.loading; else dataBody" class="displayCell">
											Loading....
										</div>
										<ng-template #dataBody>
											<div data-toggle="tooltip" data-placement="bottom" class="displayCell" [ngClass]="{'bg-danger' : (request.response | split:';':2) >= 80, 'bg-warning' : (request.response | split:';':2) >= 60 && (request.response | split:';':2) < 80}"
											 title="Reste {{ request.response | split:';':1 }}/{{ request.response | split:';':0 }}">
												{{ request.response | split:";":2 }}%
											</div>
										</ng-template>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-center col-xs-1 displayCol"><div class="displayCell">Sefas Use</div></td>
							<td *ngIf="edtDiskData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else diskError" class="displayCell">
									Loading....
								</div>
								<ng-template #diskError>
										<div class="displayCell">{{ edtDiskData?.error }}</div>
								</ng-template>
							</td>
							<td *ngFor="let env of edtDiskData?.sshRequestsByEnvironment" class="text-center col-xs-1 displayCol">
								<div *ngFor="let request of env.environmentRequests">
									<div *ngIf="request.name == 'getEspaceDisqueSefasInfos'">
										<div *ngIf="LoadingService.loading; else dataBody" class="displayCell">
											Loading....
										</div>
										<ng-template #dataBody>
											<div data-toggle="tooltip" data-placement="bottom" class="displayCell" [ngClass]="{'bg-danger' : (request.response | split:';':2) >= 80, 'bg-warning' : (request.response | split:';':2) >= 60 && (request.response | split:';':2) < 80}"
											 title="Reste {{ request.response | split:';':1 }}/{{ request.response | split:';':0 }}">
												{{ request.response | split:";":2 }}%
											</div>
										</ng-template>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>