<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			Espace disque
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="switch();" role="button" data-toggle="collapse" href="#edtDisk" aria-expanded="false" aria-controls="edtBdoc">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="edtDisk" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-xs-1 displayCol">
								<div class="displayCell">Serveur</div>
							</th>
							<th *ngIf="edtEnv['EdtInfosData']?.error; else verHead" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</th>
							<ng-template #verHead>
								<th *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<div class="displayCell">{{ env.environment }}</div>
								</th>
							</ng-template>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center col-xs-1 displayCol">
								<div class="displayCell">Data Use</div>
							</td>
							<td *ngIf="edtEnv['EdtInfosData']?.error; else dataUse" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</td>
							<ng-template #dataUse>
								<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<ng-container *ngIf="edtDiskData[env.environment]?.error; else diskDataUseData">
										<div *ngIf="LoadingService.loading[env.environment]; else diskDataUseError" class="displayCell">
											Loading....
										</div>
										<ng-template #diskDataUseError>
											<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell">{{ edtDiskData[env.environment]?.error }}</div>
										</ng-template>
									</ng-container>
									<ng-template #diskDataUseData>
										<div *ngIf="LoadingService.loading[env.environment]; else diskDataUse" class="displayCell">
											Loading....
										</div>
										<ng-template #diskDataUse>
											<ng-container *ngIf="edtDiskData[env.environment]?.diskSpaceInfosData == null; else showData">
												<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell bg-danger">Pas de données</div>
											</ng-container>
											<ng-template #showData>
												<div data-toggle="tooltip" data-placement="bottom" *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell"
												 title="Reste {{ edtDiskData[env.environment]?.diskSpaceInfosData.availableSize }}/{{ edtDiskData[env.environment]?.diskSpaceInfosData.globalSize }}"
												 [ngClass]="{'bg-danger' : edtDiskData[env.environment]?.diskSpaceInfosData.percentageUse >= 90,
													'bg-warning' : edtDiskData[env.environment]?.diskSpaceInfosData.percentageUse >= 75 && edtDiskData[env.environment]?.diskSpaceInfosData.percentageUse < 90}">
													{{ edtDiskData[env.environment]?.diskSpaceInfosData.percentageUse }}%
												</div>
											</ng-template>
										</ng-template>
									</ng-template>
								</td>
							</ng-template>
						</tr>

						<tr>
							<td class="text-center col-xs-1 displayCol">
								<div class="displayCell">Home Use</div>
							</td>
							<td *ngIf="edtEnv['EdtInfosData']?.error; else homeUse" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</td>
							<ng-template #homeUse>
								<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<ng-container *ngIf="edtDiskData[env.environment]?.error; else diskHomeUseData">
										<div *ngIf="LoadingService.loading[env.environment]; else diskHomeUseError" class="displayCell">
											Loading....
										</div>
										<ng-template #diskHomeUseError>
											<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell">{{ edtDiskData[env.environment]?.error }}</div>
										</ng-template>
									</ng-container>
									<ng-template #diskHomeUseData>
										<div *ngIf="LoadingService.loading[env.environment]; else diskHomeUse" class="displayCell">
											Loading....
										</div>
										<ng-template #diskHomeUse>
											<ng-container *ngIf="edtDiskData[env.environment]?.diskSpaceInfosHome == null; else showData">
												<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell bg-danger">Pas de données</div>
											</ng-container>
											<ng-template #showData>
												<div data-toggle="tooltip" data-placement="bottom" *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell"
												 title="Reste {{ edtDiskData[env.environment]?.diskSpaceInfosHome.availableSize }}/{{ edtDiskData[env.environment]?.diskSpaceInfosHome.globalSize }}"
												 [ngClass]="{'bg-danger' : edtDiskData[env.environment]?.diskSpaceInfosHome.percentageUse >= 90,
													'bg-warning' : edtDiskData[env.environment]?.diskSpaceInfosHome.percentageUse >= 75 && edtDiskData[env.environment]?.diskSpaceInfosHome.percentageUse < 90}">
													{{ edtDiskData[env.environment]?.diskSpaceInfosHome.percentageUse }}%
												</div>
											</ng-template>
										</ng-template>
									</ng-template>
								</td>
							</ng-template>
						</tr>

						<tr>
							<td class="text-center col-xs-1 displayCol">
								<div class="displayCell">Sefas Use</div>
							</td>
							<td *ngIf="edtEnv['EdtInfosData']?.error; else sefasUse" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</td>
							<ng-template #sefasUse>
								<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<ng-container *ngIf="edtDiskData[env.environment]?.error; else diskSefasUseData">
										<div *ngIf="LoadingService.loading[env.environment]; else diskSefasUseError" class="displayCell">
											Loading....
										</div>
										<ng-template #diskSefasUseError>
											<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell">{{ edtDiskData[env.environment]?.error }}</div>
										</ng-template>
									</ng-container>
									<ng-template #diskSefasUseData>
										<div *ngIf="LoadingService.loading[env.environment]; else diskSefasUse" class="displayCell">
											Loading....
										</div>
										<ng-template #diskSefasUse>
											<ng-container *ngIf="edtDiskData[env.environment]?.diskSpaceInfosSefas == null; else showData">
												<div *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell bg-danger">Pas de données</div>
											</ng-container>
											<ng-template #showData>
												<div data-toggle="tooltip" data-placement="bottom" *ngIf="env.environment == edtDiskData[env.environment]?.environment" class="displayCell"
												 title="Reste {{ edtDiskData[env.environment]?.diskSpaceInfosSefas.availableSize }}/{{ edtDiskData[env.environment]?.diskSpaceInfosSefas.globalSize }}"
												 [ngClass]="{'bg-danger' : edtDiskData[env.environment]?.diskSpaceInfosSefas.percentageUse >= 90,
													'bg-warning' : edtDiskData[env.environment]?.diskSpaceInfosSefas.percentageUse >= 75 && edtDiskData[env.environment]?.diskSpaceInfosSefas.percentageUse < 90}">
													{{ edtDiskData[env.environment]?.diskSpaceInfosSefas.percentageUse }}%
												</div>
											</ng-template>
										</ng-template>
									</ng-template>
								</td>
							</ng-template>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>