<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title" >
			Démons actifs
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="switch();" role="button" data-toggle="collapse" href="#edtDaemons" aria-expanded="false" aria-controls="edtDaemons">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="edtDaemons" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th *ngIf="edtEnv['EdtInfosData']?.error; else packageHead" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
							</th>
							<ng-template #packageHead>
								<th *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
									<div class="displayCell">{{ env.environment }}</div>
								</th>
							</ng-template>
						</tr>
					</thead>
					<tbody >
						<tr>
							<ng-container *ngIf="edtEnv['EdtInfosData']?.error">
								<td class="text-center col-xs-1 displayCol">
									<div class="displayCell">{{ edtEnv['EdtInfosData']?.error }}</div>
								</td>
							</ng-container>
							<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
								<ng-container *ngIf="edtDaemonsData[env.environment]?.error; else daemonData">
									<div *ngIf="LoadingService.loading[env.environment]; else daemonError" class="displayCell">
										Loading....
									</div>
									<ng-template #daemonError>
										<div class="displayCell">{{ edtDaemonsData[env.environment]?.error }}</div>
									</ng-template>
								</ng-container>
								<ng-template #daemonData>
									<div *ngIf="LoadingService.loading[env.environment]; else daemonBody" class="displayCell">
										Loading....
									</div>
									<ng-template #daemonBody>
										<ng-container *ngFor="let daemon of edtDaemonsData[env.environment]?.listeDaemons">
											<div *ngIf="daemon.application == '' || daemon.application === null ">Pas de données</div>
											<div data-toggle="tooltip" data-placement="bottom"
											[ngClass]="{'text-danger' : daemon.alive == false, 'text-success' : daemon.alive == true && daemon.pidFilePresent == true, 'warning' : daemon.alive == true && daemon.pidFilePresent == false}"
											title="{{ daemon.pidFilePresent ? '' : 'Aucun fichier PID présent&#10;'}}{{daemon.couloir}}&#10;{{daemon.type}}&#10;{{daemon.partage}}&#10;CPU: {{daemon.perCPU}}%&#10;MEM: {{daemon.perMEM}}%&#10;Démarré depuis {{daemon.startTime.nbDays}}j {{daemon.startTime.nbHours}}h {{daemon.startTime.nbMinutes}}min {{daemon.startTime.nbSeconds}}s" class="displayCell"><b>{{ daemon.application }}</b></div>
										</ng-container>
									</ng-template>
								</ng-template>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
