<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title" >
			Démons actifs
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="load(); switch();" role="button" data-toggle="collapse" href="#edtDaemons" aria-expanded="false" aria-controls="edtSql">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="edtDaemons" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-condensed">
					<thead >
						<tr >
							<th class="text-center col-xs-1 displayCol"><div class="displayCell">Serveur</div></th>
							<th *ngIf="edtDaemonsData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else daemonsError" class="displayCell">
									Loading....
								</div>
								<ng-template #daemonsError>
									<div class="displayCell">{{ edtDaemonsData?.error }}</div>
								</ng-template>
							</th>
							<!--<th *ngFor="let servers of edtDaemonsData?.edt?.sshRequestsByEnvironment | sql:'servers'" class="text-center col-xs-1">
								<div *ngIf="LoadingService.loading; else sqlHead" class="displayCell">
									Loading....
								</div>
								<ng-template #sqlHead>
										<div class="displayCell">{{ servers.name }}</div>
								</ng-template>
							</th>-->
						</tr>
					</thead>
					<tbody >
						<tr>
							<td class="text-center col-xs-1 displayCol"><div class="displayCell">Démons</div></td>
							<td *ngIf="edtDaemonsData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else daemonsError" class="displayCell">
									Loading....
								</div>
								<ng-template #daemonsError>
										<div class="displayCell">{{ edtDaemonsData?.error }}</div>
								</ng-template>
							</td>						
							<!--<td *ngFor="let servers of edtSqlData?.edt?.sshRequestsByEnvironment | sql:'servers'" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else sqlHost" class="displayCell">
									Loading....
								</div>
								<ng-template #sqlHost>
										<div class="displayCell">{{ servers.name }}</div>
								</ng-template>
							</td>-->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
