<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			Version
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="switch()" role="button" data-toggle="collapse" href="#webediVersion" aria-expanded="false" aria-controls="webediVersion">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="webediVersion" class="panel-collapse collapse">
		<div class="panel-body table-responsive">
			<table class="table table-condensed">
				<thead >
					<tr >
						<th class="text-center col-xs-1 displayCol"><div class="displayCell">Serveur</div></th>
						<th *ngIf="webediEnv['webEdiInfosData']?.error; else verHead" class="text-center col-xs-1 displayCol">
							<div class="displayCell">{{ webediEnv['webEdiInfosData']?.error }}</div>
						</th>
						<ng-template #verHead>
							<th *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
								<div class="displayCell"><a href="http://{{ webEdiVersionData[env.environment]?.environment.server }}/{{webediEnv['tab']}}/" target="_blank">{{ env.environment }}</a></div>
							</th>
						</ng-template>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center col-xs-1 displayCol"><div class="displayCell">Apache</div></td>
						<td *ngIf="webediEnv['webEdiInfosData']?.error; else verApache" class="text-center col-xs-1 displayCol">
							<div class="displayCell">{{ webediEnv['webEdiInfosData']?.error }}</div>
						</td>
						<ng-template #verApache>
							<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
								<ng-container *ngIf="webEdiVersionData[env.environment]?.error; else versionData">
									<div *ngIf="LoadingService.loading[env.environment]; else versionError" class="displayCell">
										Loading....
									</div>
									<ng-template #versionError>
										<div *ngIf="env.environment == webEdiVersionData[env.environment]?.environment.environment" class="displayCell">{{ webEdiVersionData[env.environment]?.error }}</div>
									</ng-template>
								</ng-container>
								<ng-template #versionData>
									<div *ngIf="LoadingService.loading[env.environment]; else verBody" class="displayCell">
										Loading....
									</div>
									<ng-template #verBody>
										<div *ngIf="webEdiVersionData[env.environment]?.versionApache == '' || webEdiVersionData[env.environment]?.versionApache == null" class="displayCell">-</div>
										<div *ngIf="env.environment == webEdiVersionData[env.environment]?.environment.environment" class="displayCell">{{ webEdiVersionData[env.environment]?.versionApache }}</div>
									</ng-template>
								</ng-template>
							</td>
						</ng-template>
					</tr>

					<tr>
						<td class="text-center col-xs-1 displayCol"><div class="displayCell">Weblogic</div></td>
						<td *ngIf="webediEnv['webEdiInfosData']?.error; else verWeblogic" class="text-center col-xs-1 displayCol">
							<div class="displayCell">{{ webediEnv['webEdiInfosData']?.error }}</div>
						</td>
						<ng-template #verWeblogic>
							<td *ngFor="let env of environments" class="text-center col-xs-1 displayCol">
								<ng-container *ngIf="webEdiVersionData[env.environment]?.error; else versionData">
									<div *ngIf="LoadingService.loading[env.environment]; else versionError" class="displayCell">
										Loading....
									</div>
									<ng-template #versionError>
										<div *ngIf="env.environment == webEdiVersionData[env.environment]?.environment.environment" class="displayCell">{{ webEdiVersionData[env.environment]?.error }}</div>
									</ng-template>
								</ng-container>
								<ng-template #versionData>
									<div *ngIf="LoadingService.loading[env.environment]; else verBody" class="displayCell">
										Loading....
									</div>
									<ng-template #verBody>
										<div *ngIf="webEdiVersionData[env.environment]?.versionWebLogic == '' || webEdiVersionData[env.environment]?.versionWebLogic == null" class="displayCell">-</div>
										<div *ngIf="env.environment == webEdiVersionData[env.environment]?.environment.environment" class="displayCell">{{ webEdiVersionData[env.environment]?.versionWebLogic }}</div>
									</ng-template>
								</ng-template>
							</td>
						</ng-template>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>