<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			Package version
			<div class="pull-right">
				<a (click)="refresh()">
							<span class="glyphicon glyphicon-refresh black"></span>
						</a>
				<a (click)="load(); switch();" role="button" data-toggle="collapse" href="#edtPackage" aria-expanded="false" aria-controls="edtBdoc">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
					
				</a>
			</div>
		</h4>
	</div>
	<div id="edtPackage" class="panel-collapse collapse">
		<div>
			<div class="panel-body table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center col-xs-1 displayCol"><div class="displayCell">Version</div></th>
							<th *ngIf="fofPackageData?.error" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else packageError" class="displayCell">
									Loading....
								</div>
								<ng-template #packageError>
										<div class="displayCell">{{ fofPackageData?.error }}</div>
								</ng-template>
							</th>
							<th *ngFor="let servers of fofPackageData?.fof?.sshRequestsByEnvironment | versions:'servers'" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else packageHead" class="displayCell">
									Loading....
								</div>
								<ng-template #packageHead>
									<div class="displayCell">{{ servers.name }}</div>
								</ng-template>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let versionsList of fofPackageData?.fof?.sshRequestsByEnvironment | versions:'versionsList'">
							<td class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else packageVer" class="displayCell">
									Loading....
								</div>
								<ng-template #packageVer>
									<div class="displayCell" data-toggle="tooltip" data-placement="bottom" title="{{versionsList.detail}}">
										{{ versionsList.version }}
									</div>
								</ng-template>
							</td>

							<td *ngFor="let env of fofPackageData?.fof?.sshRequestsByEnvironment | versions:'packages'" class="text-center col-xs-1 displayCol">
								<div *ngIf="LoadingService.loading; else packageDetail" class="displayCell">
									Loading....
								</div>
								<ng-template #packageDetail>
									<div *ngFor="let packages of env">
										<div class="displayCell" *ngIf="packages.version == versionsList.version">{{packages.date | split:" ":0}}<br>{{packages.date | split:" ":1}}</div>
									</div>
								</ng-template>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>