<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title" >
			Suivi Infocentre
			<div class="pull-right">
				<a (click)="refresh()">
					<span class="glyphicon glyphicon-refresh black"></span>
				</a>
				<a (click)="switch();" role="button" data-toggle="collapse" href="#edtSuivi" aria-expanded="false" aria-controls="edtSql">
					<span [className]="SwitchGlyphiconsService.currentGlyphicon"></span>
				</a>
			</div>
		</h4>
	</div>
	<div id="edtSuivi" class="panel-collapse collapse">
		<div>
			<div class="panel-body">
				<img src="assets/images/nothing.gif">
			</div>
		</div>
	</div>
</div>
