<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title text-center">Informations générales</h4>
	</div>
	<div class="panel-body table-responsive">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class="text-center col-xs-1 displayCol"><div class="displayCell">Serveur</div></th>
					<th *ngIf="LoadingService.loading['EdtInfos']; else servHead" class="text-center col-xs-1 displayCol">
						<div class="displayCell">Loading....</div>
					</th>
					<ng-template #servHead>
						<th *ngIf="EdtInfosData?.error; else edtServ" class="text-center col-xs-1 displayCol"><div class="displayCell">{{ EdtInfosData?.error }}</div></th>
						<ng-template #edtServ>
							<th *ngFor="let env of EdtInfosData?.environments" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ env.environment }}</div>
							</th>	
						</ng-template>
					</ng-template>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center col-xs-1 displayCol"><div class="displayCell">Host</div></td>
					<td *ngIf="LoadingService.loading['EdtInfos']; else hostHead" class="text-center col-xs-1 displayCol">
						<div class="displayCell">Loading....</div>
					</td>
					<ng-template #hostHead>
						<td *ngIf="EdtInfosData?.error; else edtHost" class="text-center col-xs-1 displayCol"><div class="displayCell">{{ EdtInfosData?.error }}</div></td>
						<ng-template #edtHost>
							<td *ngFor="let env of EdtInfosData?.environments" class="text-center col-xs-1 displayCol">
								<div class="displayCell">{{ env.server }}</div>
							</td>	
						</ng-template>
					</ng-template>
				</tr>
			</tbody>
		</table>
	</div>
</div>